*,
*:after,
*:before {
    outline: 0;
}
label {
    cursor: pointer;
}
input {
    box-shadow: none !important;
}
body {
    min-height: 100vh;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}
.dropdown.is-active .results {
    max-height: 30rem;
    max-width: 30rem;
    overflow-y: scroll;
}
.dropdown-item {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-column-gap: 12px;
    padding-right: 1rem;
}
.poster {
    /* display: inline-flex; */
    max-width: 64px;
}
.poster img {
    display: block;
}
